<h1>About Splurty</h1>

	<br />
	<p>
		Splurty was built by <a href="https://github.com/kirubel">Kirubel Aklilu</a> as the first project for <strong><a target="_blank" href="http://www.thefirehoseproject.com">theFirehoseProject.</a></strong> 
	</p>
	<br />

	<div class="col-xs-12 col-sm-4">
		<img alt="Kirubel" class="img-responsive" src="/assets/Kirubel.jpg" />
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Kirubel Aklilu</h2>
		<br />
		<p class="text-center">
			Kirubel is a seasoned Engineer with years of experience supporting Web Applications and Cloud infrastructure.  He has held roles such as a Software Configuration Specialize, Systems Administrator, Virtualization Engineer but never as a Developer.  Kirubel loves to continually learn and evolve  professionally and just recently completed a masters degree in Cloud Computing and Virtualization.  He is now very excited to dive into the world of web application development in Ruby and Rails with the help of The Firehose Project community. Kirubel is also a husband and dad of an amazing little boy who will be turing 2 years of age very soon.  When he is not busy with work, family obligations, or learning new technologies. he enjoys playing tennis, playing poker, and trying craft beer.
	</div>
</div>

<br class="clear"/>
<br />
<br />
<br />
<br />

</div>